<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="DBTMSEntities" connectionString="metadata=res://*/TMSModel.csdl|res://*/TMSModel.ssdl|res://*/TMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAFAA\SQLEXPRESS,1433;initial catalog=DBTMS;user id=sa;password=saloop;MultipleActiveResultSets=True;Connection Timeout =30;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings><userSettings>
        <TMS.Properties.Settings>
            <setting name="StateTime" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="GetNotTimer" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="UpdateData" serializeAs="String">
                <value>60000</value>
            </setting>
        </TMS.Properties.Settings>
    </userSettings>
</configuration>